body {
  color: white;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid greenyellow;
  
}
.center {
  text-align: center;
}

h1 {
  color: greenyellow;
}